
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/a.jpg" width="607px" height="510px" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="cooking">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">
            Huge selection of recipes ideas 
        </h1>

        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos harum quae aperiam quisquam, pariatur iusto eveniet in culpa neque quas quaerat doloribus voluptatem modi nostrum nisi rem soluta blanditiis molestias?
        </p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/exploreLatest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
            <a href="/exploreRandom" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Explore Random</a>

        </div>

    </div>
</div>

<!--Categories-->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Categories</h2>
    </div>
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <% if(categories != '') { %>
        <% categories.forEach(function(category, index) { %>
        <a href="/categories/<%- category.name%>" class="col text-center category_link ">
            <div class="category__img shadow">
                <img src="/img/<%- category.image%>" alt="<%- category.name%>" loading="lazy">
            </div>
            <div class="pt-1"><%- category.name%></div>
        </a>
        <% }) %>
    <% } %>

    <a href="/categories" class="col text-center category_link ">
        <div class="category__img shadow">
            <img src="/img/imagen" alt="American Food" loading="lazy">
        </div>
        <div class="pt-1">View All</div>
    </a>

</div>
</section>
<!--Categories End-->


<!--Latest-->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Latest Recipes</h2>
        <a href="/exploreLatest" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(food != '') { %>
            <% food.recipes.forEach(function(recipe, index) { %>
                    <a href="/recipe/<%= recipe._id%>" class="col text-center category_link">
                    <div class="category__img category__img--large shadow">
                        <img src="uploads/<%= recipe.img%>" alt="<%= recipe.name%>" loading="lazy">
                    </div>
                    <div class="pt-1"><%= recipe.name%></div>
                </a>
            <% }) %>
        <% } %>
    </div>
</section>

<!--Latest End-->



<!--THAI-->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Thai Category</h2>
        <a href="/categories/Thai" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(food != '') { %>
            <% food.Thai.forEach(function(recipe, index) { %>
                    <a href="/recipe/<%= recipe._id%>" class="col text-center category_link">
                    <div class="category__img category__img--large shadow">
                        <img src="uploads/<%= recipe.img%>" alt="<%= recipe.name%>" loading="lazy">
                    </div>
                    <div class="pt-1"><%= recipe.name%></div>
                </a>
            <% }) %>
        <% } %>
    </div>
</section>

<!--THAI End-->

<!--American-->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>American Category</h2>
        <a href="/categories/American" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(typeof food.American !== undefined && food.American.length > 0) { %>
            <% food.American.forEach(function(recipe, index) { %>
                    <a href="/recipe/<%= recipe._id%>" class="col text-center category_link">
                    <div class="category__img category__img--large shadow">
                        <img src="uploads/<%= recipe.img%>" alt="<%= recipe.name%>" loading="lazy">
                    </div>
                    <div class="pt-1"><%= recipe.name%></div>
                </a>
            <% }) %>
        <% } %>
    </div>
</section>

<!--American End-->

<!--Japanese-->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Japanese Category</h2>
        <a href="/categories/Japanese" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(typeof food.Japanese !== undefined && food.Japanese.length > 0) { %>
            <% food.Japanese.forEach(function(recipe, index) { %>
                    <a href="/recipe/<%= recipe._id%>" class="col text-center category_link">
                    <div class="category__img category__img--large shadow">
                        <img src="uploads/<%= recipe.img%>" alt="<%= recipe.name%>" loading="lazy">
                    </div>
                    <div class="pt-1"><%= recipe.name%></div>
                </a>
            <% }) %>
        <% } %>
    </div>
</section>
<!--Japanese End-->

<!--Submit-->

<section class="px-4 py-5 my-5 text-center">
    <img src="/img/#" class="d-block mx-auto mb-4 img-fluid" alt="PUBLISH YOUR RECIPE FOR FREE" width="566px" height="208px" loading="lazy">
    <h1 class="display-5 fw-bold">PUBLISH YOUR RECIPE FOR FREE</h1>

    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores cum fuga voluptate!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submitRecipe" class="btn btn-primary btn-dark btn-lg">Submit Recipe</a>
        </div>
    </div>
</section>

<!--Submit End-->